@font-face {
    font-family: 'Oswald';
    font-weight: 200;
    font-style: normal;
    src: local('Oswald'), url('/site/templates/styles/fonts/oswald/Oswald-ExtraLight.eot');
    src: url('/site/templates/styles/fonts/oswald/Oswald-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('/site/templates/styles/fonts/oswald/Oswald-ExtraLight.woff2') format('woff2'),
         url('/site/templates/styles/fonts/oswald/Oswald-ExtraLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Oswald';
    font-weight: 300;
    font-style: normal;
    src: local('Oswald'), url('/site/templates/styles/fonts/oswald/Oswald-Light.eot');
    src: url('/site/templates/styles/fonts/oswald/Oswald-Light.eot?#iefix') format('embedded-opentype'),
         url('/site/templates/styles/fonts/oswald/Oswald-Light.woff2') format('woff2'),
         url('/site/templates/styles/fonts/oswald/Oswald-Light.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
    src: local('Oswald'), url('/site/templates/styles/fonts/oswald/Oswald-Regular.eot');
    src: url('/site/templates/styles/fonts/oswald/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
         url('/site/templates/styles/fonts/oswald/Oswald-Regular.woff2') format('woff2'),
         url('/site/templates/styles/fonts/oswald/Oswald-Regular.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Oswald';
    font-weight: 500;
    font-style: normal;
    src: local('Oswald'), url('/site/templates/styles/fonts/oswald/Oswald-Medium.eot');
    src: url('/site/templates/styles/fonts/oswald/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
         url('/site/templates/styles/fonts/oswald/Oswald-Medium.woff2') format('woff2'),
         url('/site/templates/styles/fonts/oswald/Oswald-Medium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    font-style: normal;
    src: local('Oswald'), url('/site/templates/styles/fonts/oswald/Oswald-SemiBold.eot');
    src: url('/site/templates/styles/fonts/oswald/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('/site/templates/styles/fonts/oswald/Oswald-SemiBold.woff2') format('woff2'),
         url('/site/templates/styles/fonts/oswald/Oswald-SemiBold.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Oswald';
    font-weight: 700;
    font-style: normal;
    src: local('Oswald'), url('/site/templates/styles/fonts/oswald/Oswald-Bold.eot');
    src: url('/site/templates/styles/fonts/oswald/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
         url('/site/templates/styles/fonts/oswald/Oswald-Bold.woff2') format('woff2'),
         url('/site/templates/styles/fonts/oswald/Oswald-Bold.ttf') format("truetype");
    font-display: swap;
} 